.d-header {
    padding-top: 0;
    background: #fe6a65
}

.d-header .contents {
    margin: 0
}

.d-header #site-logo {
    max-height: 60px
}

.d-header .panel {
    padding: 5px;
    margin: 8px;
    background: #fff;
    border-radius: 5px
}

.d-header .panel .current-username {
    margin-left: 5px
}

.logo-small {
    max-height: 60px
}

body #main .extra-info .star {
    background: #fff;
    border-radius: 50%;
    padding: 5px
}

.extra-info .badge-category {
    vertical-align: middle;
    margin-top: 0;
    border: 1px solid #fff
}

.extra-info .topic-link {
    color: #fff;
    line-height: 1.6em
}

#custom-bottom {
    text-align: right;
    font-size: 0.9em
}
